/* affichage desktop, à partir de 1024px */ 
@media screen and (min-width: 1024px) {
  /* changement de la position des blocs */
  #container {
    grid-template-columns: 70% 30%;
    grid-template-areas:
      "header header"
      "results-section aside"
      "activities-section activities-section"
      "footer footer";
  }

  /* ajustements de marges */
  header {
    margin: 0px;
  }
  #logo {
    padding-top: 35px;
  }
  #subscribe {
    padding-top: 40px;
  }

  /* emplacement des éléments de la partie supérieure de la page */
  #top {
    grid-template-columns: auto 340px 100px;
    margin-right: 70px;
    grid-template-areas: "logo head-links subscribe";
  }

  /* effet souligné au survol sur le lien d'inscription */
  #subscribe{ 
    background: linear-gradient(to top, var(--text-blue) 0%, var(--text-blue), transparent 10.01%) no-repeat left bottom / 0 50%;
 }
  #subscribe:hover{
    background-size: 79% 50%;
 }

 /* positionnement des liens internes*/
 #head-links{
   margin: 0px;
   grid-area: head-links;
   width: 340px;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-areas: "head-link-hebergement head-link-activity";
}

/* modification de la taille des liens internes et de l'emplacement de la bordure */
  .head-link {
    padding-top: 47px;
    width: 170px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: solid 3px var(--background-white);
    transition: border 0.2s linear;
  }
  .head-link:hover, .head-link-forced_hover {
    color: var(--text-blue);
    border-bottom: none;
    border-top: solid 3px var(--text-blue);
    padding-top: 47px;
    padding-bottom: 15px;
    font-weight: 500;
  }


  /* barre de recherche */
  #search-bar {
    width: 420px;
  }
  #city {
    font-weight: 700;
  }
  /* modification du bouton de recherche, qui passe d'un logo 
      au texte "Rechercher" en toutes lettres */
  #search-button {
    width: 135px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    color: white;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    transition: font-size 0.3s ease-in-out;
  }
  /* Enlève le logo du bouton de recherche et ajoute le texte */
  #search-button span {
    display: none;
  }
  #search-button::before {
    content: "Rechercher";
  }
  #search-button:hover{
    font-size:17px;
  }

  /*filtres */

  /* modification de l'emplacement des boutons */
  #filters-zone {
    grid-template-columns: 5% 90%;
    grid-column-gap: 30px;
    grid-template-areas:
      "filters-title filters-button-zone"
      "result-info result-info";
  }

  /*centre le titre sur la ligne*/
  #filters-title {
    padding-top: 18px;
  }

  /* espace entre les boutons */
  .filters-button {
    margin-right: 25px;
  }

  /*augmente la taille de la police des boutons de filtres*/
  .filters-button-text {
    font-size: 18px;
  }

  /*section result : ajout fond + modification marges*/
  #results {
    background-color: var(--decoration-grey);
    margin: 0px 30px;
    padding: 50px 30px;
    border-radius: 25px;
  }

  /* les cards passent en flex */
  #results-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /*fixe la largeur des cards*/
  .results-card {
    min-width: 245px;
    width: 30%;
  }

  /* aside */
  aside {
    margin-right: 45px;
    padding: 45px 30px 0px 30px;
    border-radius: 25px;
  }
  /* les cartes des hotels populaires sont en flex, alignement colonne */
  #popular-cards {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #activities{
    padding : 30px 30px 30px 50px;
  }

  #activities-card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .activities-card-group {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "big-act-card medium-act-card"
      "big-act-card small-act-card";
  }
  .activities-card {
    width: 90%;
  }

  .big-activity-card {
    height: 445px;
    grid-area: big-act-card;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 403px 50px;
    grid-template-areas:
      "activities-img"
      "activities-name";
  }
  .medium-activity-card {
    height: 235px;
    grid-area: medium-act-card;
  }
  .small-activity-card {
    height: 170px;
    grid-area: small-act-card;
  }

  /* modifications emplacement footer*/
  footer{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "about quality help";
  }
  #about{
      grid-area: about;
  }
  #quality{
      grid-area: quality
  }
  #help{
      grid-area: help;
  }

  footer{
    padding-left: 50px;
  }

}

