/* style de la page
le style par défaut est dédiée au mobile
pour la partie tablette, se référer au fichier tablet.css ; pour la partie desktop, desktop.css
*/

/* police Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* couleurs de la page */
:root {
    --text-blue: #0065fc ;
    --light-blue: #deebff;
    --decoration-grey: #f2f2f2;
    --light-grey: #d9d9d9;
    --background-white: white;
    --text-black: black;
}

body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: var(--background-white);
    color: var(--text-black);
}

h2{
    font-size: 22px;
}

/* suppression du soulignement des liens + ecriture noire */
a{
    text-decoration: none;
    color: var(--text-black);
}

/* étoiles pour les notes */
/* augmentation de la taille de l'étoile */
.fa-star{
    font-size: 12px;
}
/* étoile bleue */
.blue-star{
    color: var(--text-blue);
}
/* étoile grise */
.grey-star{
    color: var(--light-grey);
}

/*modification du placeholder des input text */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-black);
    opacity: 1; /* Firefox */
  }
*:focus {
    outline: none;
}

/*conteneur principal de la page
utilisation de grid sur une colonne avec les différents blocs principaux
*/
#container{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "header"
                            "aside"
                            "results-section"
                            "activities-section"
                            "footer";
}

/* marges pour les différents blocs */
aside, #results, #activities, footer{
    padding: 30px 20px;
}

/*en-tête de la page, contenant la présentation, les menus, et les filtres*/
header{
    margin-top: 20px;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "top"
                            "head-description"
                            "filters-form";
}

/* partie supérieure la page, avec le logo, 
le lien d'inscription et les liens internes de navigation */
#top{
    grid-area: top;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    grid-template-areas:    "logo subscribe"
                            "head-links head-links";
}

/* éléments de la partie supérieure */

/*logo*/
#logo{ 
    grid-area: logo;
    padding-left: 20px;
 }
 /* lien d'inscription */
#subscribe{ 
    grid-area: subscribe;
    padding-right: 20px;
    padding-bottom: 5px;
    justify-self: end; /*alignement horizontal */
    align-self: center; /* alignement vertical */
    font-weight: 700;
    color: var(--text-blue);
    /* soulignement */
    background: linear-gradient(to top, var(--text-blue) 0%, var(--text-blue), transparent 10.01%) no-repeat left bottom / 0 70%;
    transition: background-size .5s;
 }

 /* soulignement sur hover */
 #subscribe:hover{
    background-size: 79% 70%;
 }

 /* section regroupant les liens internes */
#head-links{
    margin-top: 10px;
    grid-area: head-links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "head-link-hebergement head-link-activity";
    justify-items: stretch;
}
/* les liens internes */
#head-link-hebergement {grid-area: head-link-hebergement;}
#head-link-activity { grid-area: head-link-activity;}
.head-link{
    display: inline-block;
    text-align: center;
    grid-area: head-link;
    padding: 20px 38px 15px 38px;
    transition: border 0.1s linear;
}
/* soulignement des liens au survol de la souris */
.head-link:hover, .head-link-forced_hover{
    color: var(--text-blue);
    border-bottom: solid 3px var(--text-blue);
    padding-bottom: 12px;
    font-weight: 500;
}

/* description de l'activité du site */
#head-description{ 
    grid-area: head-description;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "head-description-title"
                            "head-description-p";
    margin: 0px 20px;
}
#head-description h2{ 
    margin-top: 30px;
    margin-bottom: 15px;
    grid-area: head-description-title;
 }
#head-description p{ 
    margin-top: 0px;
    font-size: 16px;
    grid-area: head-description-p;
 }

 /* formulaire contenant le champ de recherche et les filtres */
#filters-form{
    margin: 0px 20px;
    grid-area: filters-form;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "search-bar"
                            "filters-zone"
                            ;
}

/* barre de recherche */
#search-bar {
    grid-area: search-bar;
    background-color: var(--decoration-grey);
    width: 100%;
    border-radius: 15px;
    height: 50px;
    margin: 30px 0px;
    position: relative;
}
/* icone map, à gauche du champ de recherche, avec effet au survol */
#map-icon{
    padding: 0px 18px 0px 20px;
    font-size: 18px;
    transition: color ease 0.3s;
}
#map-icon:hover{
    color: var(--text-blue);
}

/* champ de saisie du nom de la ville recherchée */
#city{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    border: solid 1px var(--decoration-grey);
    border-radius: 0px;
    padding: 18px;
    font-size: 16px;
    font-weight: 700;
    width: 75%;
}
#city:focus{
    border: solid 2px #dddddd;
}

/* bouton de recherche */
#search-button{
    position: absolute;
    right: 0px;
    border: 0px;
    background-color: var(--text-blue);
    height: 100%;
    width: 50px;
    border-radius: 18px;
}
/* logo loupe du bouton de recherche */
.fa-search{
    color: white;
    font-size: 17px;
    transition: font-size 0.2s ease;
}
#search-button:hover .fa-search{
    font-size: 21px;
}

/* emplacement regroupant le titre, les différents boutons de filtres 
et le nombre de résultats*/
#filters-zone{
    margin: 0px;
    grid-area: filters-zone;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "filters-title"
                            "filters-button-zone"
                            "result-info";
}
/*le titre de cet emplacement */
#filters-title {
    margin: 0px 0px 10px 0px;
    grid-area: filters-title;
}
/* emplacement regroupant les différents boutons de filtres */
#filters-button-zone{
    grid-area: filters-button-zone;
    display: flex;
    flex-wrap: wrap;
}

/* boutons filtres */
.filters-button{
    background-color: white;
    border: solid 2px var(--light-grey);
    border-radius: 25px;
    height: 50px;
    margin: 5px 10px 5px 0px;
    position: relative;
    transition: all 0.3s linear;
}

/* cercle à gauche des boutons filtres, contenant l'icone */
.filters-button-icon-container{
    position: absolute;
    display: inline-block;
    background-color: #deebff;
    top: -2px;
    left: -2px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
/* icone à gauche des boutons filtres */
.filters-button-icon{
    color: var(--text-blue);
    font-size: 20px;
    height: 100%;
    margin: auto;
    padding-top: 15px;
}
/* text des boutons filtres */
.filters-button-text{
    font-family: 'Raleway', sans-serif;
    padding-left: 55px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 700;
}
/* effet au survol sur les filtres */
.filters-button:hover{
    background-color: #deebff;
    border: solid 2px #deebff;
}

/* informations supplémentaires sur la recherche d'info (nombre de résultats...) */
#result-info {
    margin: 20px 0px 30px 0px;
    grid-area: result-info;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-areas: "result-icon result-text";
}
/* cercle autour de l'icone information */
.info-icon-container{
    display: inline-block;
    border: 1px solid var(--light-grey);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    grid-area: result-icon;
}
/* icone information */
.fa-info{
    color: var(--text-blue);
    font-size: 11px;
    text-align: center;
    padding-left: 10px;
    padding-top: 6px;
}
/* texte des informations supplémentaires */
#result-info p{
    display: inline-block;
    grid-area: result-text;
    margin: 4px 0px 0px 9px;
}

/* section les plus populaires */
aside{
    grid-area: aside;
}
/* titre de la section + logo */
#aside-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 0px 30px 0px;
}
#aside-title h2{
    margin: 0px;
}
#aside-title i{
    font-size: 20px;
}

/* carte représentant les hotels les plus populaires */
.popular-card{
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #e7e7e7;
    height: 140px;
    margin: 10px 0px;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 40% 60%;
    grid-template-areas:    "popular-img popular-name"
                            "popular-img popular-price"
                            "popular-img popular-star";
}

/* image des cartes populaires */

/* cover : https://developer.mozilla.org/fr/docs/Web/CSS/background-size#cover
Un mot-clé dont le comportement est opposé à celui de contain. 
L'image est redimensionnée pour être aussi grande que possible 
et pour conserver ses proportions. L'image couvre toute la largeur ou la hauteur 
du conteneur et les parties qui dépassent sont rognées si les proportions du conteneur 
sont différentes (il n'y aucun espace libre sur lequel on verrait la couleur d'arrière-plan). */

/* cover + center : les images sont systématiquement centrées et rognées, comme sur les maquettes */
.popular-img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: cover; 
    background-position: center center;
    grid-area: popular-img;
}

/* url vers les différentes images */
#hotel-soleil-matin-img{
    background-image: url('../assets/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
#cour-eau-img{
    background-image: url('../assets/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
#hotel-tout-bleu-blanc{
    background-image: url('../assets/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

/* description sur les cartes des hotels populaires */
.popular-card h4{
    margin: 10px 30px 10px 0px;
}
.popular-card p{
    margin: 0px;
    font-size: 14px;
}
.popular-name{
    grid-area: popular-name;
}
.popular-price{
    grid-area: popular-price;
}
.popular-star{
    padding-top: 30px;
    grid-area: popular-star;
}

/* partie résultat */
#results{
    grid-area: results-section;
}
/* carte des hotels du résultat de la recherche */
.results-card{
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #e7e7e7;
    height: 200px;
    margin: 10px 0px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65% 15% 15% 15%;
    grid-template-areas:    "results-img"
                            "results-name"
                            "results-price"
                            "results-star";
}
.results-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center center;
    grid-area: results-img;
}
#auberge-cannebiere{
    background-image: url('../assets/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
#hotel-port{
    background-image: url('../assets/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
#hotel-mouettes{
    background-image: url('../assets/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
#hotel-mer{
    background-image: url('../assets/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
#auberge-panier{
    background-image: url('../assets/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
#hotel-amina{
    background-image: url('../assets/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}
.results-name{
    margin: 10px;
    grid-area: results-name;
}
.results-price{
    margin: 8px 10px;
    font-size: 14px;
    grid-area: results-price;
}
.results-star{
    margin: 0px 10px;
    grid-area: results-star;
}
#results h3{
    margin: 25px 0px;
}

/* partie activités */
#activities{
    grid-area: activities-section;
}
/* carte des activités liées à la ville recherchée */
.activities-card{
    background-color: white;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #e7e7e7;
    height: 170px;
    margin: 10px 0px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75% 25%;
    grid-template-areas:    "activities-img"
                            "activities-name";
}
.activities-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center center;
    grid-area: activities-img;
}
#vieux-port{
    background-image: url('../assets/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}
#fort-pomegues{
    background-image: url('../assets/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}
#iles-frioul{
    background-image: url('../assets/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}
#parc-calanques{
    background-image: url('../assets/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}
#notre-dame-garde{
    background-image: url('../assets/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}
#parc-longchamp{
    background-image: url('../assets/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}
.activities-name{
    padding-left: 20px;
    height: 100%;
    line-height: 100%;
}

/* effet sur le survol des cartes */
/* transition */
.results-card, .popular-card, .activities-card {
    transition: box-shadow 0.5s ease-out;
}
/* effet : assombrissement de l'ombre de la carte */
.results-card:hover, .popular-card:hover, .activities-card:hover {
    box-shadow: 5px 5px 10px rgb(165, 165, 165);
}

/* pied de page */
footer{
    grid-area: footer;
}

/*couleur de fond finale*/
aside, footer{
    background-color: var(--decoration-grey);
}
.footer-section a{
    display: block;
    padding: 8px 0px;
    font-size: 15px;
}
.footer-section a:hover {
    text-decoration: underline;
}
