/* affichage tablette, entre 400px et 1023px */ 
@media screen and (min-width: 400px) and (max-width: 1023px) {
    #city {
        font-weight: 700;
      }
      /* taille maximum de la barre de recherche */
      #search-bar {
        max-width: 420px;
      }
      /* modification du bouton de recherche, qui passe d'un logo 
      au texte "Rechercher" en toutes lettres */
      #search-button {
        width: 135px;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        color: white;
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
      }
    
      /* Enlève le logo du bouton de recherche et ajoute le texte */
      #search-button span {
        display: none;
      }
      #search-button::before {
        content: "Rechercher";
      }

      /* ajustements des cartes */
      #popular-cards, #results-cards, #activities-card-container{
          padding: 0px 15px;
          margin: auto;
          max-width: 500px;
      }
}